In [11]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
# YOUR CODE HERE!
df = pd.read_csv("../Web Scraping/predicting_house_price.csv")
df = df.drop("Unnamed: 0", axis =1)
# Review the DataFrame
# YOUR CODE HERE!
df.head()

,street,city,province,postal_code,style,price,number_of_beds,number_of_baths,extra_space
0,#903 -151 AVENUE RD,Toronto,Ontario,M5R 2H7,Apartment,1955000,2,2,1
1,7575 4TH LINE,Centre Wellington,Ontario,N0B 1S0,Detached,1799900,5,2,0
2,388A WHITMORE AVE,Toronto,Ontario,M6E 2N4,Triplex,1795000,4,2,1
3,332 DURIE ST,Toronto,Ontario,M6S 3G3,Detached,1699000,4,2,0
4,71 WALMSLEY BLVD,Toronto,Ontario,M4V 1X7,Duplex,1599000,3,2,0

### Step 2: Encode the categorical variables.

In [3]:
df_encoded = pd.get_dummies(df, columns=['city', 'style'])
df_encoded.head()

,street,province,postal_code,price,number_of_beds,number_of_baths,extra_space,city_Ajax,city_Alfred,city_Almonte,...,style_Detached,style_Duplex,style_Finished,style_House,style_Mobile,style_Semi-Detached,"style_Storage - Locker, Party Room, Exercise Centre, Recreation Centre",style_Townhouse,style_Triplex,style_Yes
0,#903 -151 AVENUE RD,Ontario,M5R 2H7,1955000,2,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7575 4TH LINE,Ontario,N0B 1S0,1799900,5,2,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,388A WHITMORE AVE,Ontario,M6E 2N4,1795000,4,2,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,332 DURIE ST,Ontario,M6S 3G3,1699000,4,2,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,71 WALMSLEY BLVD,Ontario,M4V 1X7,1599000,3,2,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

### Step 3: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [4]:
# Separate the data into labels and features
data_x = df_encoded.drop(['street', 'province','postal_code', 'price'], axis =1)
# Separate the y variable, the labels
y = df["price"]
# Separate the X variable, the features
X = data_x

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [5]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)

### Step 5: Scale the data.

In [6]:
scaler = preprocessing.StandardScaler()
data_x = scaler.fit_transform(X_train)

In [7]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [12]:
y_pred = lr.predict(X_test)
print('R-squared score:', lr.score(X_test, y_test))

R-squared score: -2.2598157704275535e+26