In [1]:
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv("house.csv",delimiter=,)

SyntaxError: invalid syntax (2115773596.py, line 1)

In [8]:
df

      longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0      -122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3...
1      -122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0...
2      -122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7....
3      -122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5....
4      -122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3....
...                                                  ...
20635  -121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1....
20636  -121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5...
20637  -121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1...
20638  -121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1....
20639  -121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2...

[20640 rows x 1 columns]