In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
# YOUR CODE HERE!
df = pd.read_csv("../Web Scraping/predicting_house_price.csv")
df = df.drop("Unnamed: 0", axis =1)
# Review the DataFrame
# YOUR CODE HERE!
df.head()

,street,city,province,postal_code,fire_place,style,lat,lon,price,number_of_beds,number_of_baths,extra_space
0,6 HONEYBOURNE CRES,Markham,Ontario,L3P 1P3,Yes,Detached,43.856371,-79.337682,2998000,5,8,1
1,83 BOARDWALK DR,Toronto,Ontario,M4L 3X9,Yes,Detached,43.670890,-79.316931,2599900,3,4,0
2,2158 PINEVIEW DR,Oakville,Ontario,L6H 5M3,Yes,Detached,43.447436,-79.666672,1999000,5,4,0
3,4078 HWY #6 Highway S,Mount Hope,Ontario,L0R 1W0,Yes,Detached,43.156141,-79.916180,1425000,3,3,0
4,12 HERCULES CLUB DR,Richmond Hill,Ontario,L4K 1K6,Yes,Townhouse,43.880117,-79.439292,1199000,3,3,0

In [3]:
df_encoded = pd.get_dummies(df, columns=['city', 'style'])
df_encoded.head()

,street,province,postal_code,fire_place,lat,lon,price,number_of_beds,number_of_baths,extra_space,...,city_Waterdown,city_Waterloo,city_Welland,city_Whitby,city_Whitchurch-Stouffville,city_Windsor,city_Woodstock,style_Detached,style_Semi-Detached,style_Townhouse
0,6 HONEYBOURNE CRES,Ontario,L3P 1P3,Yes,43.856371,-79.337682,2998000,5,8,1,...,0,0,0,0,0,0,0,1,0,0
1,83 BOARDWALK DR,Ontario,M4L 3X9,Yes,43.670890,-79.316931,2599900,3,4,0,...,0,0,0,0,0,0,0,1,0,0
2,2158 PINEVIEW DR,Ontario,L6H 5M3,Yes,43.447436,-79.666672,1999000,5,4,0,...,0,0,0,0,0,0,0,1,0,0
3,4078 HWY #6 Highway S,Ontario,L0R 1W0,Yes,43.156141,-79.916180,1425000,3,3,0,...,0,0,0,0,0,0,0,1,0,0
4,12 HERCULES CLUB DR,Ontario,L4K 1K6,Yes,43.880117,-79.439292,1199000,3,3,0,...,0,0,0,0,0,0,0,0,0,1

In [15]:
# Separate the data into labels and features
data_x = df_encoded.drop(['street', 'province','postal_code', 'price', 'fire_place', 'lat', 'lon'], axis =1)
# Separate the y variable, the labels
y = df["price"]
# Separate the X variable, the features
X = data_x

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.shape

(535, 143)

In [21]:
# Create a logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', max_iter=200, random_state=1)

classifier

LogisticRegression(max_iter=200, random_state=1)

In [22]:
classifier.fit(X_train, y_train)

C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=200, random_state=1)

In [23]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.21869158878504674
Testing Data Score: 0.027932960893854747

In [24]:
# Make predictions
predictions = classifier.predict(X_test)
results = pd.DataFrame({"Prediction:": predictions, "Actual": y_test})
results.head(10)

     Prediction:   Actual
546       799000  1299000
223       899000   999900
403       699900   999000
8         799000   698000
394      1098000  1099990
120       699900   749900
377      1499900  1349000
373       699000  1389900
632       799000   699888
690       699900   609900