In [480]:
import pandas as pd

In [481]:
df = pd.read_csv('./Resources/housing.csv')
df.head()

,lat,lon,address,price,number_of_beds,number_of_baths,style,building_type,cooling_type,heating_type,fire_place
0,43.856371,-79.337682,"6 HONEYBOURNE CRES, Markham, Ontario, L3P 1P3","$2,998,000",5+1 Beds,8 Baths,Semi-Detached,House,"Central air conditioning, Window air conditioner","Baseboard heaters, Forced air",Yes
1,43.686359,-79.402310,"123 HEATH ST W, Toronto, Ontario, M4V 2Y6","$2,798,000",3+1 Beds,4 Baths,Semi-Detached,House,"Central air conditioning, Window air conditioner","Baseboard heaters, Forced air",Yes
2,43.670890,-79.316931,"83 BOARDWALK DR, Toronto, Ontario, M4L 3X9","$2,599,900",3 Beds,4 Baths,Semi-Detached,House,"Central air conditioning, Window air conditioner","Baseboard heaters, Forced air",Yes
3,43.193166,-79.560677,"2 LAKESIDE Drive, Grimsby, Ontario, L3M 2K7","$2,599,900",5 Beds,3 Baths,Detached,House,"Central air conditioning, Window air conditioner","Baseboard heaters, Forced air",Yes
4,43.589623,-79.644388,"#A -41 BROADVIEW AVE, Mississauga, Ontario, L5...","$2,499,850",4+1 Beds,4 Baths,Semi-Detached,House,"Central air conditioning, Window air conditioner","Baseboard heaters, Forced air",Yes

In [482]:
# (Row(s), Column(s))
df.shape

(248, 11)

In [483]:
# Drop any duplicates and NaN values
df = df.drop_duplicates().dropna()

In [484]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 0 to 151
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   lat              152 non-null    float64
 1   lon              152 non-null    float64
 2   address          152 non-null    object
 3   price            152 non-null    object
 4   number_of_beds   152 non-null    object
 5   number_of_baths  152 non-null    object
 6   style            152 non-null    object
 7   building_type    152 non-null    object
 8   cooling_type     152 non-null    object
 9   heating_type     152 non-null    object
 10  fire_place       152 non-null    object
dtypes: float64(2), object(9)
memory usage: 14.2+ KB

In [485]:
# Format price column and change data type
df['price']= df['price'].str.replace(r'\D', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_15192\2301450956.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['price']= df['price'].str.replace(r'\D', '').astype(int)

In [486]:
df.columns

Index(['lat', 'lon', 'address', 'price', 'number_of_beds', 'number_of_baths',
       'style', 'building_type', 'cooling_type', 'heating_type', 'fire_place'],
      dtype='object')

In [487]:
df['fire_place']

0      Yes
1      Yes
2      Yes
3      Yes
4      Yes
      ...
147    Yes
148    Yes
149    Yes
150    Yes
151    Yes
Name: fire_place, Length: 152, dtype: object

In [488]:
# Look at values for 'fire_place'
df['fire_place'].value_counts()

Yes    152
Name: fire_place, dtype: int64

In [489]:
# # Fix 'fire_place column to either Yes/No
# df.loc[df['fire_place'] != 'Yes', 'fire_place'] = 'No'

# df['fire_place'].value_counts()

Yes    152
Name: fire_place, dtype: int64

In [490]:
# Find different values for 'number_of_beds' column
df['number_of_beds'].unique()

array(['5+1 Beds', '3+1 Beds', '3 Beds', '5 Beds', '4+1 Beds', '4+3 Beds',
       '4 Beds', '5+3 Beds', '4+2 Beds', '3+2 Beds', '2+1 Beds',
       '3+3 Beds', '2 Beds', '2+2 Beds', '1 Beds', '6 Beds', '5+2 Beds'],
      dtype=object)

In [491]:
ex_space = []
for i in range(len(df['number_of_beds'])):
    row = df['number_of_beds'][i]
    print(row)

5+1 Beds
3+1 Beds
3 Beds
5 Beds
4+1 Beds
5 Beds
4+3 Beds
4+3 Beds
4 Beds
4 Beds
4 Beds
4 Beds
5+3 Beds
4 Beds
3 Beds
4+2 Beds
3 Beds
5 Beds
3 Beds
3+2 Beds
4+1 Beds
4 Beds
2+1 Beds
4+1 Beds
3+1 Beds
3 Beds
4+1 Beds
4+1 Beds
4 Beds
4+3 Beds
4+1 Beds
3 Beds
4 Beds
4 Beds
4 Beds
3 Beds
3 Beds
3 Beds
3 Beds
3+2 Beds
2+1 Beds
3+2 Beds
3+1 Beds
3+1 Beds
4 Beds
4 Beds
4 Beds
3+1 Beds
3 Beds
4+1 Beds
3+3 Beds
4 Beds
3 Beds
3 Beds
4 Beds
2 Beds
4 Beds
3 Beds
4+1 Beds
4+1 Beds
3 Beds
3 Beds
4+1 Beds
3+1 Beds
3 Beds
4+2 Beds
2+2 Beds
4 Beds
3 Beds
2+1 Beds
3 Beds
3 Beds
3 Beds
2+1 Beds
3 Beds
2+1 Beds
3+2 Beds
2 Beds
2+1 Beds
2 Beds
4 Beds
3 Beds
3 Beds
4+1 Beds
3 Beds
3 Beds
3+1 Beds
3 Beds
4 Beds
4+1 Beds
5 Beds
3 Beds
3 Beds
3 Beds
2 Beds
3+3 Beds
3+1 Beds
3 Beds
3 Beds
3 Beds
4 Beds
2 Beds
3 Beds
2 Beds
3 Beds
2+1 Beds
3 Beds
2 Beds
2+1 Beds
3 Beds
2+1 Beds
3 Beds
2+1 Beds
3 Beds
3 Beds
3 Beds
3 Beds
2 Beds
3 Beds
3 Beds
3 Beds
2 Beds
3 Beds
2+1 Beds
2 Beds
3 Beds
3 Beds
2+1 Beds
4 Beds
4 Beds
3 Beds
3+1 Beds
3 Beds
2 Beds
3 Beds
3 Beds
2 Beds
1 Beds
2+1 Beds
4 Beds
4 Beds
4+1 Beds
3 Beds
6 Beds
4+2 Beds
3+2 Beds
4 Beds
4 Beds
3+2 Beds
3+1 Beds
5+2 Beds
3 Beds

In [492]:
# Create 'extra_space' column if '+' is found in 'number_of_beds' column
ex_space = []
for i in range(len(df['number_of_beds'])):
    row = df['number_of_beds'][i]
    if '+' in row:
        ex_space.append(1)
    else:
        ex_space.append(0)

df['extra_space'] = ex_space

df.head()

,lat,lon,address,price,number_of_beds,number_of_baths,style,building_type,cooling_type,heating_type,fire_place,extra_space
0,43.856371,-79.337682,"6 HONEYBOURNE CRES, Markham, Ontario, L3P 1P3",2998000,5+1 Beds,8 Baths,Semi-Detached,House,"Central air conditioning, Window air conditioner","Baseboard heaters, Forced air",Yes,1
1,43.686359,-79.402310,"123 HEATH ST W, Toronto, Ontario, M4V 2Y6",2798000,3+1 Beds,4 Baths,Semi-Detached,House,"Central air conditioning, Window air conditioner","Baseboard heaters, Forced air",Yes,1
2,43.670890,-79.316931,"83 BOARDWALK DR, Toronto, Ontario, M4L 3X9",2599900,3 Beds,4 Baths,Semi-Detached,House,"Central air conditioning, Window air conditioner","Baseboard heaters, Forced air",Yes,0
3,43.193166,-79.560677,"2 LAKESIDE Drive, Grimsby, Ontario, L3M 2K7",2599900,5 Beds,3 Baths,Detached,House,"Central air conditioning, Window air conditioner","Baseboard heaters, Forced air",Yes,0
4,43.589623,-79.644388,"#A -41 BROADVIEW AVE, Mississauga, Ontario, L5...",2499850,4+1 Beds,4 Baths,Semi-Detached,House,"Central air conditioning, Window air conditioner","Baseboard heaters, Forced air",Yes,1

In [493]:
# Splt up 'address' column
df[['street', 'city', 'province','postal_code']] = df.address.str.split(',', expand=True)

# Drop 'address column
df = df.drop(columns=['address'])

# Rearrange dataframe
df = df.reindex(columns=['lat', 'lon', 'street', 'city', 'province', 'postal_code',  'style', 'price', 'number_of_beds', 'number_of_baths','extra_space'])

df.head()

,lat,lon,street,city,province,postal_code,style,price,number_of_beds,number_of_baths,extra_space
0,43.856371,-79.337682,6 HONEYBOURNE CRES,Markham,Ontario,L3P 1P3,Semi-Detached,2998000,5+1 Beds,8 Baths,1
1,43.686359,-79.402310,123 HEATH ST W,Toronto,Ontario,M4V 2Y6,Semi-Detached,2798000,3+1 Beds,4 Baths,1
2,43.670890,-79.316931,83 BOARDWALK DR,Toronto,Ontario,M4L 3X9,Semi-Detached,2599900,3 Beds,4 Baths,0
3,43.193166,-79.560677,2 LAKESIDE Drive,Grimsby,Ontario,L3M 2K7,Detached,2599900,5 Beds,3 Baths,0
4,43.589623,-79.644388,#A -41 BROADVIEW AVE,Mississauga,Ontario,L5H 2S8,Semi-Detached,2499850,4+1 Beds,4 Baths,1

In [494]:
df['city'] = df['city'].str.strip()
df['province'] = df['province'].str.strip()
df['postal_code'] = df['postal_code'].str.strip()

In [495]:
# Strip and turn 'number_of_beds' column to an integer
df['number_of_beds'] = df['number_of_beds'].str.replace(r'[+][1234]\s(Beds)|\s(Beds)', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_15192\3325562270.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['number_of_beds'] = df['number_of_beds'].str.replace(r'[+][1234]\s(Beds)|\s(Beds)', '').astype(int)

In [496]:
# Remove Bath(s) from column
df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_15192\1945002919.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '').astype(int)

In [497]:
# Final cleaned dataframe
df.head()

,lat,lon,street,city,province,postal_code,style,price,number_of_beds,number_of_baths,extra_space
0,43.856371,-79.337682,6 HONEYBOURNE CRES,Markham,Ontario,L3P 1P3,Semi-Detached,2998000,5,8,1
1,43.686359,-79.402310,123 HEATH ST W,Toronto,Ontario,M4V 2Y6,Semi-Detached,2798000,3,4,1
2,43.670890,-79.316931,83 BOARDWALK DR,Toronto,Ontario,M4L 3X9,Semi-Detached,2599900,3,4,0
3,43.193166,-79.560677,2 LAKESIDE Drive,Grimsby,Ontario,L3M 2K7,Detached,2599900,5,3,0
4,43.589623,-79.644388,#A -41 BROADVIEW AVE,Mississauga,Ontario,L5H 2S8,Semi-Detached,2499850,4,4,1

In [498]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 0 to 151
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   lat              152 non-null    float64
 1   lon              152 non-null    float64
 2   street           152 non-null    object
 3   city             152 non-null    object
 4   province         152 non-null    object
 5   postal_code      152 non-null    object
 6   style            152 non-null    object
 7   price            152 non-null    int32
 8   number_of_beds   152 non-null    int32
 9   number_of_baths  152 non-null    int32
 10  extra_space      152 non-null    int64
dtypes: float64(2), int32(3), int64(1), object(5)
memory usage: 16.5+ KB

In [499]:
# Export to csv file
df.to_csv('predicting_house_price.csv')