In [324]:
import pandas as pd

In [325]:
df = pd.read_csv('./Resources/housing.csv')
df.head()

,address,price,number_of_beds,number_of_baths,style
0,"#903 -151 AVENUE RD, Toronto, Ontario, M5R 2H7","$1,955,000",2+1 Beds,2 Baths,Apartment
1,"7575 4TH LINE, Centre Wellington, Ontario, N0B...","$1,799,900",5 Beds,2 Baths,Detached
2,"388A WHITMORE AVE, Toronto, Ontario, M6E 2N4","$1,795,000",4+2 Beds,2 Baths,Triplex
3,"332 DURIE ST, Toronto, Ontario, M6S 3G3","$1,699,000",4 Beds,2 Baths,Detached
4,"71 WALMSLEY BLVD, Toronto, Ontario, M4V 1X7","$1,599,000",3 Beds,2 Baths,Duplex

In [326]:
df.shape

(617, 5)

In [327]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617 entries, 0 to 616
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          617 non-null    object
 1   price            617 non-null    object
 2   number_of_beds   617 non-null    object
 3   number_of_baths  617 non-null    object
 4   style            617 non-null    object
dtypes: object(5)
memory usage: 24.2+ KB

In [328]:
# Format price column and change data type
df['price']= df['price'].str.replace(r'\D', '').astype(int)
df.head()

C:\Users\User\AppData\Local\Temp\ipykernel_30756\1397200533.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['price']= df['price'].str.replace(r'\D', '').astype(int)

,address,price,number_of_beds,number_of_baths,style
0,"#903 -151 AVENUE RD, Toronto, Ontario, M5R 2H7",1955000,2+1 Beds,2 Baths,Apartment
1,"7575 4TH LINE, Centre Wellington, Ontario, N0B...",1799900,5 Beds,2 Baths,Detached
2,"388A WHITMORE AVE, Toronto, Ontario, M6E 2N4",1795000,4+2 Beds,2 Baths,Triplex
3,"332 DURIE ST, Toronto, Ontario, M6S 3G3",1699000,4 Beds,2 Baths,Detached
4,"71 WALMSLEY BLVD, Toronto, Ontario, M4V 1X7",1599000,3 Beds,2 Baths,Duplex

In [329]:
# Find different values for 'number_of_beds' column
df['number_of_beds'].unique()

array(['2+1 Beds', '5 Beds', '4+2 Beds', '4 Beds', '3 Beds', '2 Beds',
       '3+1 Beds', '3+2 Beds', '2+2 Beds', '4+1 Beds', '1+1 Beds',
       '1+3 Beds', '4+3 Beds', '3+3 Beds', '6 Beds', '1 Beds', '1+2 Beds',
       '2+3 Beds'], dtype=object)

In [330]:
# Create 'extra_space' column if '+' is found in 'number_of_beds' column
ex_space = []
for i in range(len(df['number_of_beds'])):
    row = df['number_of_beds'][i]
    if '+' in row:
        ex_space.append(1)
    else:
        ex_space.append(0)

df['extra_space'] = ex_space

df.head()

,address,price,number_of_beds,number_of_baths,style,extra_space
0,"#903 -151 AVENUE RD, Toronto, Ontario, M5R 2H7",1955000,2+1 Beds,2 Baths,Apartment,1
1,"7575 4TH LINE, Centre Wellington, Ontario, N0B...",1799900,5 Beds,2 Baths,Detached,0
2,"388A WHITMORE AVE, Toronto, Ontario, M6E 2N4",1795000,4+2 Beds,2 Baths,Triplex,1
3,"332 DURIE ST, Toronto, Ontario, M6S 3G3",1699000,4 Beds,2 Baths,Detached,0
4,"71 WALMSLEY BLVD, Toronto, Ontario, M4V 1X7",1599000,3 Beds,2 Baths,Duplex,0

In [331]:
# Splt up 'address' column
df[['street', 'city', 'province','postal_code']] = df.address.str.split(',', expand=True)

# Drop 'address column
df = df.drop(columns=['address'])

# Rearrange dataframe
df = df.reindex(columns=['street', 'city', 'province', 'postal_code',  'style', 'price', 'number_of_beds', 'number_of_baths','extra_space'])

df.head()

,street,city,province,postal_code,style,price,number_of_beds,number_of_baths,extra_space
0,#903 -151 AVENUE RD,Toronto,Ontario,M5R 2H7,Apartment,1955000,2+1 Beds,2 Baths,1
1,7575 4TH LINE,Centre Wellington,Ontario,N0B 1S0,Detached,1799900,5 Beds,2 Baths,0
2,388A WHITMORE AVE,Toronto,Ontario,M6E 2N4,Triplex,1795000,4+2 Beds,2 Baths,1
3,332 DURIE ST,Toronto,Ontario,M6S 3G3,Detached,1699000,4 Beds,2 Baths,0
4,71 WALMSLEY BLVD,Toronto,Ontario,M4V 1X7,Duplex,1599000,3 Beds,2 Baths,0

In [332]:
df['city'] = df['city'].str.strip()
df['province'] = df['province'].str.strip()
df['postal_code'] = df['postal_code'].str.strip()

In [333]:
# Strip and turn 'number_of_beds' column to an integer
df['number_of_beds'] = df['number_of_beds'].str.replace(r'[+][1234]\s(Beds)|\s(Beds)', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_30756\3325562270.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['number_of_beds'] = df['number_of_beds'].str.replace(r'[+][1234]\s(Beds)|\s(Beds)', '').astype(int)

In [334]:
# Remove Bath(s) from column
df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_30756\1945002919.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '').astype(int)

In [335]:
# Final cleaned dataframe
df.head(10)

,street,city,province,postal_code,style,price,number_of_beds,number_of_baths,extra_space
0,#903 -151 AVENUE RD,Toronto,Ontario,M5R 2H7,Apartment,1955000,2,2,1
1,7575 4TH LINE,Centre Wellington,Ontario,N0B 1S0,Detached,1799900,5,2,0
2,388A WHITMORE AVE,Toronto,Ontario,M6E 2N4,Triplex,1795000,4,2,1
3,332 DURIE ST,Toronto,Ontario,M6S 3G3,Detached,1699000,4,2,0
4,71 WALMSLEY BLVD,Toronto,Ontario,M4V 1X7,Duplex,1599000,3,2,0
5,#319 -9909 PINE VALLEY DR,Vaughan,Ontario,L4H 4M1,Apartment,1488800,2,2,0
6,B130 CONCESSION ROAD 1 RD,Brock,Ontario,L0K 1A0,Detached,1399000,3,2,0
7,#PH01 -30 ROEHAMPTON AVE,Toronto,Ontario,M4P 1R2,Apartment,1267280,2,2,1
8,454638 ROAD 45 RD,Grey Highlands,Ontario,N0C 1C0,Detached,1260000,3,2,0
9,556 BARTON ST E,Hamilton,Ontario,L8E 5N3,Detached,1250000,3,2,0

In [336]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617 entries, 0 to 616
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   street           617 non-null    object
 1   city             617 non-null    object
 2   province         617 non-null    object
 3   postal_code      614 non-null    object
 4   style            617 non-null    object
 5   price            617 non-null    int32
 6   number_of_beds   617 non-null    int32
 7   number_of_baths  617 non-null    int32
 8   extra_space      617 non-null    int64
dtypes: int32(3), int64(1), object(5)
memory usage: 36.3+ KB

In [337]:
df = df.dropna()

In [338]:
df.isnull().sum()

street             0
city               0
province           0
postal_code        0
style              0
price              0
number_of_beds     0
number_of_baths    0
extra_space        0
dtype: int64

In [339]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 614 entries, 0 to 616
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   street           614 non-null    object
 1   city             614 non-null    object
 2   province         614 non-null    object
 3   postal_code      614 non-null    object
 4   style            614 non-null    object
 5   price            614 non-null    int32
 6   number_of_beds   614 non-null    int32
 7   number_of_baths  614 non-null    int32
 8   extra_space      614 non-null    int64
dtypes: int32(3), int64(1), object(5)
memory usage: 40.8+ KB

In [340]:
# Export to csv file
df.to_csv('predicting_house_price.csv')