In [365]:
import pandas as pd

In [380]:
df = pd.read_csv('./Resources/housing.csv')
df.head()

,address,price,number_of_beds,number_of_baths,style,cooling_type,heating_fuel,heating_type,fire_place,lat,lon
0,"33 SCUFFLER DR, Vaughan, Ontario, L6A 4Y7","$2,999,888",4 Beds,5 Baths,NaN,NaN,NaN,NaN,House,43.794154,-79.526802
1,"11134 5 SIDE RD, Halton Hills, Ontario, L7G 4S6","$2,999,000",4 Beds,4 Baths,NaN,NaN,NaN,NaN,House,43.621861,-79.943877
2,"14541 NIAGARA RIVER PKWY, Niagara-on-the-Lake,...","$2,998,800",4+1 Beds,4 Baths,NaN,NaN,NaN,NaN,House,43.255612,-79.072326

In [367]:
# (Row(s), Column(s))
df.shape

(1, 11)

In [368]:
# Drop any duplicates and NaN values
df = df.drop_duplicates().dropna()

In [369]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          0 non-null      object
 1   price            0 non-null      object
 2   number_of_beds   0 non-null      object
 3   number_of_baths  0 non-null      object
 4   style            0 non-null      float64
 5   cooling_type     0 non-null      float64
 6   heating_fuel     0 non-null      float64
 7   heating_type     0 non-null      float64
 8   fire_place       0 non-null      object
 9   lat              0 non-null      float64
 10  lon              0 non-null      float64
dtypes: float64(6), object(5)
memory usage: 0.0+ bytes

In [370]:
# Format price column and change data type
df['price']= df['price'].str.replace(r'\D', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_15192\2301450956.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['price']= df['price'].str.replace(r'\D', '').astype(int)

In [371]:
df.columns

Index(['address', 'price', 'number_of_beds', 'number_of_baths', 'style',
       'cooling_type', 'heating_fuel', 'heating_type', 'fire_place', 'lat',
       'lon'],
      dtype='object')

In [372]:
# Look at values in 'cooling type' column
df['cooling_type'].value_counts()

Series([], Name: cooling_type, dtype: int64)

In [373]:
# # Get a dataframe that has the most options for type of cooling
# df = df.loc[(df['cooling_type'] == 'Central air conditioning') | (df['cooling_type'] == 'Natural gas')| (df['cooling_type'] == 'Wall unit')]

In [374]:
# Look at values for 'fire_place'
df['fire_place'].value_counts()

Series([], Name: fire_place, dtype: int64)

In [375]:
# Fix 'fire_place column to either Yes/No
df.loc[df['fire_place'] != 'Yes', 'fire_place'] = 'No'

df['fire_place'].value_counts()

Series([], Name: fire_place, dtype: int64)

In [376]:
# Find different values for 'number_of_beds' column
df['number_of_beds'].unique()

array([], dtype=object)

In [377]:
ex_space = []
for i in range(len(df['number_of_beds'])):
    row = df['number_of_beds'][i]
    print(row)

In [378]:
# Create 'extra_space' column if '+' is found in 'number_of_beds' column
ex_space = []
for i in range(len(df['number_of_beds'])):
    row = df['number_of_beds'][i]
    if '+' in row:
        ex_space.append(1)
    else:
        ex_space.append(0)

df['extra_space'] = ex_space

df.head()

Empty DataFrame
Columns: [address, price, number_of_beds, number_of_baths, style, cooling_type, heating_fuel, heating_type, fire_place, lat, lon, extra_space]
Index: []

In [379]:
# Splt up 'address' column
df[['street', 'city', 'province','postal_code']] = df.address.str.split(',', expand=True)

# Drop 'address column
df = df.drop(columns=['address'])

# Rearrange dataframe
df = df.reindex(columns=['lat', 'lon', 'street', 'city', 'province', 'postal_code',  'style', 'price', 'number_of_beds', 'number_of_baths','extra_space'])

df.head()

ValueError: Columns must be same length as key

In [ ]:
df['city'] = df['city'].str.strip()
df['province'] = df['province'].str.strip()
df['postal_code'] = df['postal_code'].str.strip()

In [ ]:
# Strip and turn 'number_of_beds' column to an integer
df['number_of_beds'] = df['number_of_beds'].str.replace(r'[+][1234]\s(Beds)|\s(Beds)', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_15192\3325562270.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['number_of_beds'] = df['number_of_beds'].str.replace(r'[+][1234]\s(Beds)|\s(Beds)', '').astype(int)

In [ ]:
# Remove Bath(s) from column
df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_15192\1945002919.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '').astype(int)

In [ ]:
df['number_of_beds']

0      4
1      4
2      4
3      3
4      6
      ..
519    3
520    3
521    3
524    3
525    3
Name: number_of_beds, Length: 519, dtype: int32

In [ ]:
# Final cleaned dataframe
df.head()

Empty DataFrame
Columns: [address, price, number_of_beds, number_of_baths, style, cooling_type, heating_fuel, heating_type, fire_place, lat, lon, extra_space]
Index: []

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 519 entries, 0 to 525
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   lat              519 non-null    float64
 1   lon              519 non-null    float64
 2   street           519 non-null    object
 3   city             519 non-null    object
 4   province         519 non-null    object
 5   postal_code      511 non-null    object
 6   style            519 non-null    object
 7   price            519 non-null    int32
 8   number_of_beds   519 non-null    int32
 9   number_of_baths  519 non-null    int32
 10  extra_space      0 non-null      float64
dtypes: float64(3), int32(3), object(5)
memory usage: 58.7+ KB

In [ ]:
# Export to csv file
df.to_csv('predicting_house_price.csv')