In [100]:
import pandas as pd

In [101]:
df = pd.read_csv('./Resources/housing.csv')
df.head()

,address,price,number_of_beds,number_of_baths,style
0,"#1912 -1 MARKET ST, Toronto, Ontario, M5E 0A2","$1,100,000",2 Beds,2 Baths,Apartment
1,"61 BARRYMORE RD, Toronto, Ontario, M1J 1W4","$998,888",3+1 Beds,2 Baths,Detached
2,"#1203 -5 KENNETH AVE, Toronto, Ontario, M2N 6M7","$899,000",2+1 Beds,2 Baths,Apartment
3,"#3210 -10 PARK LAWN RD, Toronto, Ontario, M8V 0H9","$895,000",2+1 Beds,2 Baths,Apartment
4,"#606 -60 FAIRFAX CRES, Toronto, Ontario, M1L 1Z8","$659,500",2+1 Beds,2 Baths,Apartment

In [102]:
df.shape

(92, 5)

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          92 non-null     object
 1   price            92 non-null     object
 2   number_of_beds   92 non-null     object
 3   number_of_baths  92 non-null     object
 4   style            92 non-null     object
dtypes: object(5)
memory usage: 3.7+ KB

In [106]:
# Remove Bath(s) from column
df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '')
df['number_of_baths']

# Remove Bed(s) from column
# df['number_of_beds'] = df['number_of_beds'].str.replace(r'\D', '')
df['number_of_beds']

C:\Users\User\AppData\Local\Temp\ipykernel_27012\866137512.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '')

0       2 Beds
1     3+1 Beds
2     2+1 Beds
3     2+1 Beds
4     2+1 Beds
        ...
87      3 Beds
88    2+1 Beds
89      2 Beds
90      2 Beds
91      3 Beds
Name: number_of_beds, Length: 92, dtype: object

In [112]:
# Format price column and change data type
df['price']= df['price'].str.replace(r'\D', '').astype(int)
df['price']

C:\Users\User\AppData\Local\Temp\ipykernel_27012\1683853538.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['price']= df['price'].str.replace(r'\D', '').astype(int)

0     1100000
1      998888
2      899000
3      895000
4      659500
       ...
87     749000
88     749000
89     749000
90     735000
91     719900
Name: price, Length: 92, dtype: int32

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          92 non-null     object
 1   price            92 non-null     int32
 2   number_of_beds   92 non-null     object
 3   number_of_baths  92 non-null     object
 4   style            92 non-null     object
dtypes: int32(1), object(4)
memory usage: 3.4+ KB