In [51]:
import pandas as pd

In [96]:
df = pd.read_csv('./Resources/housing.csv')
df.head()

,address,price,number_of_beds,number_of_baths,style,cooling_type,heating_fuel,heating_type,fire_place,lat,lon
0,"2183 PHEASANT LANE, Oakville, Ontario, L6M 3R8","$1,998,000",4+1 Beds,4 Baths,Detached,Central air conditioning,Natural gas,Forced air,Yes,NaN,NaN
1,"1965 Fieldgate Drive, Burlington, Ontario, L7P...","$1,799,999",3 Beds,4 Baths,Detached,"Central Vacuum, Dryer, Microwave, Refrigerator...",Central air conditioning,Natural gas,Forced air,NaN,NaN
2,"3483 FOURTH LINE, Oakville, Ontario, L6M 1N8","$1,349,900",4+1 Beds,5 Baths,Townhouse,Central air conditioning,Natural gas,Forced air,Yes,NaN,NaN
3,"1284 TYRRELL Road, Burlington, Ontario, L7P 2S4","$1,349,000",3 Beds,2 Baths,Detached,"Dishwasher, Refrigerator, Oven, Cooktop, Hood Fan",Central air conditioning,Natural gas,Forced air,NaN,NaN
4,"176 SHARPE CRES, New Tecumseth, Ontario, L0G 1W0","$1,320,000",4 Beds,4 Baths,Detached,Central air conditioning,Natural gas,Forced air,Yes,NaN,NaN

In [97]:
df.shape

(222, 11)

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          222 non-null    object
 1   price            222 non-null    object
 2   number_of_beds   222 non-null    object
 3   number_of_baths  222 non-null    object
 4   style            222 non-null    object
 5   cooling_type     222 non-null    object
 6   heating_fuel     222 non-null    object
 7   heating_type     221 non-null    object
 8   fire_place       217 non-null    object
 9   lat              24 non-null     float64
 10  lon              24 non-null     float64
dtypes: float64(2), object(9)
memory usage: 19.2+ KB

In [99]:
# Format price column and change data type
df['price']= df['price'].str.replace(r'\D', '').astype(int)
df.head()

C:\Users\User\AppData\Local\Temp\ipykernel_10288\1397200533.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['price']= df['price'].str.replace(r'\D', '').astype(int)

,address,price,number_of_beds,number_of_baths,style,cooling_type,heating_fuel,heating_type,fire_place,lat,lon
0,"2183 PHEASANT LANE, Oakville, Ontario, L6M 3R8",1998000,4+1 Beds,4 Baths,Detached,Central air conditioning,Natural gas,Forced air,Yes,NaN,NaN
1,"1965 Fieldgate Drive, Burlington, Ontario, L7P...",1799999,3 Beds,4 Baths,Detached,"Central Vacuum, Dryer, Microwave, Refrigerator...",Central air conditioning,Natural gas,Forced air,NaN,NaN
2,"3483 FOURTH LINE, Oakville, Ontario, L6M 1N8",1349900,4+1 Beds,5 Baths,Townhouse,Central air conditioning,Natural gas,Forced air,Yes,NaN,NaN
3,"1284 TYRRELL Road, Burlington, Ontario, L7P 2S4",1349000,3 Beds,2 Baths,Detached,"Dishwasher, Refrigerator, Oven, Cooktop, Hood Fan",Central air conditioning,Natural gas,Forced air,NaN,NaN
4,"176 SHARPE CRES, New Tecumseth, Ontario, L0G 1W0",1320000,4 Beds,4 Baths,Detached,Central air conditioning,Natural gas,Forced air,Yes,NaN,NaN

In [100]:
df.columns

Index(['address', 'price', 'number_of_beds', 'number_of_baths', 'style',
       'cooling_type', 'heating_fuel', 'heating_type', 'fire_place', 'lat',
       'lon'],
      dtype='object')

In [109]:
# Look at values for 'fire_place'
df['fire_place'].value_counts()

Forced air                                            73
Yes                                                   46
Natural Gas                                           25
Brick                                                 21
Aluminum siding, Brick                                 8
Block                                                  5
Concrete                                               5
Asphalt shingle                                        3
Poured Concrete                                        3
Detached                                               2
Radiant heat                                           2
Residential                                            1
Baseboard heaters, Forced air                          1
Hardwood                                               1
Forced air, Heat Pump, Stove                           1
No                                                     1
RESIDENTIAL - Residential Second Density Zone (R2)     1
Forced air, Hot water radiator heat                    1
residential                                            1
Stone, Vinyl siding                                    1
1850 sqft                                              1
Brick, Vinyl siding                                    1
RESIDENTIAL - Residential First Density (R1)           1
RURAL - Village Residential First Density (V1)         1
Heat Pump                                              1
RESIDENTIAL - Residential Fourth Density (4)           1
Baseboard heaters                                      1
Backsplit                                              1
Hot water radiator heat                                1
Baseboard heaters, Heat Pump                           1
Security guard                                         1
Vinyl siding                                           1
Hot water radiator heat, Radiant heat                  1
Semi-detached                                          1
Stucco                                                 1
Name: fire_place, dtype: int64

In [128]:
# Fix 'fire_place column to either Yes/No
df.loc[df['fire_place'] != 'Yes', 'fire_place'] = 'No'

df['fire_place'].value_counts()

No     176
Yes     46
Name: fire_place, dtype: int64

In [84]:
# Find different values for 'number_of_beds' column
df['number_of_beds'].unique()

array(['4+1 Beds', '3 Beds', '4 Beds', '3+2 Beds', '3+1 Beds', '2+1 Beds',
       '2 Beds', '4+2 Beds', '3+3 Beds', '2+2 Beds', '4+3 Beds',
       '5+1 Beds', '1+1 Beds'], dtype=object)

In [28]:
# Create 'extra_space' column if '+' is found in 'number_of_beds' column
ex_space = []
for i in range(len(df['number_of_beds'])):
    row = df['number_of_beds'][i]
    if '+' in row:
        ex_space.append(1)
    else:
        ex_space.append(0)

df['extra_space'] = ex_space

df.head()

,address,price,number_of_beds,number_of_baths,style,cooling_type,heating_fuel,heating_type,fire_place,lat,lon,extra_space
0,"2183 PHEASANT LANE, Oakville, Ontario, L6M 3R8",1998000,4+1 Beds,4 Baths,Detached,Central air conditioning,Natural gas,Forced air,Yes,NaN,NaN,1
1,"1965 Fieldgate Drive, Burlington, Ontario, L7P...",1799999,3 Beds,4 Baths,Detached,"Central Vacuum, Dryer, Microwave, Refrigerator...",Central air conditioning,Natural gas,Forced air,NaN,NaN,0
2,"3483 FOURTH LINE, Oakville, Ontario, L6M 1N8",1349900,4+1 Beds,5 Baths,Townhouse,Central air conditioning,Natural gas,Forced air,Yes,NaN,NaN,1
3,"1284 TYRRELL Road, Burlington, Ontario, L7P 2S4",1349000,3 Beds,2 Baths,Detached,"Dishwasher, Refrigerator, Oven, Cooktop, Hood Fan",Central air conditioning,Natural gas,Forced air,NaN,NaN,0
4,"176 SHARPE CRES, New Tecumseth, Ontario, L0G 1W0",1320000,4 Beds,4 Baths,Detached,Central air conditioning,Natural gas,Forced air,Yes,NaN,NaN,0

In [29]:
# Splt up 'address' column
df[['street', 'city', 'province','postal_code']] = df.address.str.split(',', expand=True)

# Drop 'address column
df = df.drop(columns=['address'])

# Rearrange dataframe
df = df.reindex(columns=['street', 'city', 'province', 'postal_code',  'style', 'price', 'number_of_beds', 'number_of_baths','extra_space'])

df.head()

,street,city,province,postal_code,style,price,number_of_beds,number_of_baths,extra_space
0,2183 PHEASANT LANE,Oakville,Ontario,L6M 3R8,Detached,1998000,4+1 Beds,4 Baths,1
1,1965 Fieldgate Drive,Burlington,Ontario,L7P 3H4,Detached,1799999,3 Beds,4 Baths,0
2,3483 FOURTH LINE,Oakville,Ontario,L6M 1N8,Townhouse,1349900,4+1 Beds,5 Baths,1
3,1284 TYRRELL Road,Burlington,Ontario,L7P 2S4,Detached,1349000,3 Beds,2 Baths,0
4,176 SHARPE CRES,New Tecumseth,Ontario,L0G 1W0,Detached,1320000,4 Beds,4 Baths,0

In [30]:
df['city'] = df['city'].str.strip()
df['province'] = df['province'].str.strip()
df['postal_code'] = df['postal_code'].str.strip()

In [31]:
# Strip and turn 'number_of_beds' column to an integer
df['number_of_beds'] = df['number_of_beds'].str.replace(r'[+][1234]\s(Beds)|\s(Beds)', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_10288\3325562270.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['number_of_beds'] = df['number_of_beds'].str.replace(r'[+][1234]\s(Beds)|\s(Beds)', '').astype(int)

In [32]:
# Remove Bath(s) from column
df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_10288\1945002919.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '').astype(int)

In [33]:
df['number_of_beds']

0      4
1      3
2      4
3      3
4      4
      ..
217    4
218    4
219    4
220    4
221    4
Name: number_of_beds, Length: 222, dtype: int32

In [34]:
# Final cleaned dataframe
df.head(10)

,street,city,province,postal_code,style,price,number_of_beds,number_of_baths,extra_space
0,2183 PHEASANT LANE,Oakville,Ontario,L6M 3R8,Detached,1998000,4,4,1
1,1965 Fieldgate Drive,Burlington,Ontario,L7P 3H4,Detached,1799999,3,4,0
2,3483 FOURTH LINE,Oakville,Ontario,L6M 1N8,Townhouse,1349900,4,5,1
3,1284 TYRRELL Road,Burlington,Ontario,L7P 2S4,Detached,1349000,3,2,0
4,176 SHARPE CRES,New Tecumseth,Ontario,L0G 1W0,Detached,1320000,4,4,0
5,158 FIRST Street W,Elmira,Ontario,N3B 1H1,Detached,1300000,4,4,1
6,1112 CHARLOTTE CRESCENT,Lakeshore,Ontario,N0R 1A0,Detached,1188000,4,3,0
7,29 Reno Avenue,Hamilton,Ontario,L8T 2S5,Detached,999900,3,2,1
8,8 Murray Crt,Orangeville,ON,L9W 0A1,Detached,949900,3,4,0
9,661 GLEN CEDAR CRES,Innisfil,Ontario,L9S 2J5,Detached,949900,3,3,1

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   street           222 non-null    object
 1   city             222 non-null    object
 2   province         222 non-null    object
 3   postal_code      222 non-null    object
 4   style            222 non-null    object
 5   price            222 non-null    int32
 6   number_of_beds   222 non-null    int32
 7   number_of_baths  222 non-null    int32
 8   extra_space      222 non-null    int64
dtypes: int32(3), int64(1), object(5)
memory usage: 13.1+ KB

In [36]:
df = df.dropna()

In [37]:
df.isnull().sum()

street             0
city               0
province           0
postal_code        0
style              0
price              0
number_of_beds     0
number_of_baths    0
extra_space        0
dtype: int64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   street           222 non-null    object
 1   city             222 non-null    object
 2   province         222 non-null    object
 3   postal_code      222 non-null    object
 4   style            222 non-null    object
 5   price            222 non-null    int32
 6   number_of_beds   222 non-null    int32
 7   number_of_baths  222 non-null    int32
 8   extra_space      222 non-null    int64
dtypes: int32(3), int64(1), object(5)
memory usage: 13.1+ KB

In [39]:
# Export to csv file
df.to_csv('predicting_house_price.csv')