In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Resources/housing.csv')
df.head()

,address,price,number_of_beds,number_of_baths,style
0,"#2103 -31 BALES AVE, Toronto, Ontario, M2N 7L6","$699,900",1+1 Beds,1 Bath,Apartment
1,"##436 -60 HOMEWOOD AVE, Toronto, Ontario, M4Y 2X4","$629,000",1+1 Beds,1 Bath,Apartment
2,"#603 -5131 SHEPPARD AVE E, Toronto, Ontario, M...","$574,990",2 Beds,1 Bath,Apartment
3,"#1003 -409 BLOOR ST E, Toronto, Ontario, M4W 3T2","$549,999",1+1 Beds,1 Bath,Apartment
4,"89 THIRTEENTH ST, Toronto, Ontario, M8V 3H5","$1,130,000",2 Beds,1 Bath,Detached

In [3]:
df.shape

(46, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          46 non-null     object
 1   price            46 non-null     object
 2   number_of_beds   46 non-null     object
 3   number_of_baths  46 non-null     object
 4   style            46 non-null     object
dtypes: object(5)
memory usage: 1.9+ KB