In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('./Resources/housing.csv')
df.head()

,address,price,number_of_beds,number_of_baths,style
0,"#1912 -1 MARKET ST, Toronto, Ontario, M5E 0A2","$1,100,000",2 Beds,2 Baths,Apartment
1,"#2103 -31 BALES AVE, Toronto, Ontario, M2N 7L6","$699,900",1+1 Beds,1 Bath,Apartment
2,"#815 -15 SINGER CRT, Toronto, Ontario, M2K 0B1","$658,000",1+1 Beds,2 Baths,Apartment
3,"##436 -60 HOMEWOOD AVE, Toronto, Ontario, M4Y 2X4","$629,000",1+1 Beds,1 Bath,Apartment
4,"#603 -5131 SHEPPARD AVE E, Toronto, Ontario, M...","$574,990",2 Beds,1 Bath,Apartment

In [14]:
df.shape

(257, 5)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          257 non-null    object
 1   price            257 non-null    object
 2   number_of_beds   257 non-null    object
 3   number_of_baths  257 non-null    object
 4   style            257 non-null    object
dtypes: object(5)
memory usage: 10.2+ KB