In [156]:
import pandas as pd

In [157]:
df = pd.read_csv('./Resources/housing.csv')
df.head()

,address,price,number_of_beds,number_of_baths,style
0,"#4002 -1 YORKVILLE AVE, Toronto, Ontario, M4W 1L1","$1,169,000",2 Beds,2 Baths,Apartment
1,"#4204 -12 YORK ST, Toronto, Ontario, M5J 0A9","$999,000",3+1 Beds,2 Baths,Apartment
2,"7 PENDEEN AVE, Toronto, Ontario, M6N 2P4","$899,000",3+1 Beds,2 Baths,Detached
3,"431 GLENHOLME AVE, Toronto, Ontario, M6E 3E9","$849,000",3+2 Beds,2 Baths,Detached
4,"#611 -15 SINGER CRT, Toronto, Ontario, M2K 0B1","$665,000",1+1 Beds,2 Baths,Apartment

In [158]:
df.shape

(936, 5)

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936 entries, 0 to 935
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          936 non-null    object
 1   price            936 non-null    object
 2   number_of_beds   936 non-null    object
 3   number_of_baths  936 non-null    object
 4   style            936 non-null    object
dtypes: object(5)
memory usage: 36.7+ KB

In [160]:
# Format price column and change data type
df['price']= df['price'].str.replace(r'\D', '').astype(int)
df.head()

C:\Users\User\AppData\Local\Temp\ipykernel_30756\1397200533.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['price']= df['price'].str.replace(r'\D', '').astype(int)

,address,price,number_of_beds,number_of_baths,style
0,"#4002 -1 YORKVILLE AVE, Toronto, Ontario, M4W 1L1",1169000,2 Beds,2 Baths,Apartment
1,"#4204 -12 YORK ST, Toronto, Ontario, M5J 0A9",999000,3+1 Beds,2 Baths,Apartment
2,"7 PENDEEN AVE, Toronto, Ontario, M6N 2P4",899000,3+1 Beds,2 Baths,Detached
3,"431 GLENHOLME AVE, Toronto, Ontario, M6E 3E9",849000,3+2 Beds,2 Baths,Detached
4,"#611 -15 SINGER CRT, Toronto, Ontario, M2K 0B1",665000,1+1 Beds,2 Baths,Apartment

In [161]:
# Find different values for 'number_of_beds' column
df['number_of_beds'].unique()

array(['2 Beds', '3+1 Beds', '3+2 Beds', '1+1 Beds', '2+1 Beds', '3 Beds',
       '5 Beds', '4 Beds', '4+1 Beds', '2+2 Beds', '4+2 Beds', '8 Beds',
       '3+3 Beds', '1 Beds', '4+3 Beds', '5+1 Beds', '6 Beds'],
      dtype=object)

In [162]:
# Create 'extra_space' column if '+' is found in 'number_of_beds' column
ex_space = []
for i in range(len(df['number_of_beds'])):
    row = df['number_of_beds'][i]
    if '+' in row:
        ex_space.append(1)
    else:
        ex_space.append(0)

df['extra_space'] = ex_space

df.head()

,address,price,number_of_beds,number_of_baths,style,extra_space
0,"#4002 -1 YORKVILLE AVE, Toronto, Ontario, M4W 1L1",1169000,2 Beds,2 Baths,Apartment,0
1,"#4204 -12 YORK ST, Toronto, Ontario, M5J 0A9",999000,3+1 Beds,2 Baths,Apartment,1
2,"7 PENDEEN AVE, Toronto, Ontario, M6N 2P4",899000,3+1 Beds,2 Baths,Detached,1
3,"431 GLENHOLME AVE, Toronto, Ontario, M6E 3E9",849000,3+2 Beds,2 Baths,Detached,1
4,"#611 -15 SINGER CRT, Toronto, Ontario, M2K 0B1",665000,1+1 Beds,2 Baths,Apartment,1

In [163]:
# Strip and turn 'number_of_beds' column to an integer
df['number_of_beds'] = df['number_of_beds'].str.replace(r'[+][1234]\s(Beds)|\s(Beds)', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_30756\3325562270.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['number_of_beds'] = df['number_of_beds'].str.replace(r'[+][1234]\s(Beds)|\s(Beds)', '').astype(int)

In [164]:
# Remove Bath(s) from column
df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_30756\1945002919.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '').astype(int)

In [167]:
# Final cleaned dataframe
df.head(10)

,address,price,number_of_beds,number_of_baths,style,extra_space
0,"#4002 -1 YORKVILLE AVE, Toronto, Ontario, M4W 1L1",1169000,2,2,Apartment,0
1,"#4204 -12 YORK ST, Toronto, Ontario, M5J 0A9",999000,3,2,Apartment,1
2,"7 PENDEEN AVE, Toronto, Ontario, M6N 2P4",899000,3,2,Detached,1
3,"431 GLENHOLME AVE, Toronto, Ontario, M6E 3E9",849000,3,2,Detached,1
4,"#611 -15 SINGER CRT, Toronto, Ontario, M2K 0B1",665000,1,2,Apartment,1
5,"#1010 -6 EVA RD, Toronto, Ontario, M9C 0B1",634900,2,2,Apartment,0
6,"#1046 -100 MORNELLE CRT, Toronto, Ontario, M1E...",499900,2,2,Townhouse,1
7,"#1111 -36 LISGAR ST, Toronto, Ontario, M6J 0C7",499000,2,2,Apartment,0
8,"92 DAY AVE, Toronto, Ontario, M6E 3V9",1189000,3,2,Detached,1
9,"#403 -20 TUBMAN AVE, Toronto, Ontario, M5A 0M5",1145000,3,2,Apartment,0

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936 entries, 0 to 935
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          936 non-null    object
 1   price            936 non-null    int32
 2   number_of_beds   936 non-null    int32
 3   number_of_baths  936 non-null    int32
 4   style            936 non-null    object
 5   extra_space      936 non-null    int64
dtypes: int32(3), int64(1), object(2)
memory usage: 33.0+ KB