In [759]:
import pandas as pd

In [760]:
df = pd.read_csv('./Resources/housing.csv')
df.head()

,lat,lon,address,style,building_type,cooling_type,heating_type,fire_place,price,number_of_beds,number_of_baths
0,43.856371,-79.337682,"6 HONEYBOURNE CRES, Markham, Ontario, L3P 1P3",Detached,House,Central air conditioning,Forced air,Yes,"$2,998,000",5+1 Beds,8 Baths
1,43.670890,-79.316931,"83 BOARDWALK DR, Toronto, Ontario, M4L 3X9",Detached,House,Central air conditioning,Forced air,Yes,"$2,599,900",3 Beds,4 Baths
2,43.447436,-79.666672,"2158 PINEVIEW DR, Oakville, Ontario, L6H 5M3",Detached,House,Central air conditioning,Forced air,Yes,"$1,999,000",5 Beds,4 Baths
3,43.156141,-79.916180,"4078 HWY #6 Highway S, Mount Hope, Ontario, L0...",Detached,House,Central air conditioning,"Baseboard heaters, Forced air",Yes,"$1,425,000",3 Beds,3 Baths
4,43.880117,-79.439292,"12 HERCULES CLUB DR, Richmond Hill, Ontario, L...",Townhouse,Row / Townhouse,Central air conditioning,Forced air,Yes,"$1,199,000",3 Beds,3 Baths

In [761]:
# (Row(s), Column(s))
df.shape

(920, 11)

In [762]:
# Drop any duplicates and NaN values
df = df.drop_duplicates().dropna()

In [763]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 850
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   lat              714 non-null    float64
 1   lon              714 non-null    float64
 2   address          714 non-null    object
 3   style            714 non-null    object
 4   building_type    714 non-null    object
 5   cooling_type     714 non-null    object
 6   heating_type     714 non-null    object
 7   fire_place       714 non-null    object
 8   price            714 non-null    object
 9   number_of_beds   714 non-null    object
 10  number_of_baths  714 non-null    object
dtypes: float64(2), object(9)
memory usage: 66.9+ KB

In [764]:
# Format price column and change data type
df['price']= df['price'].str.replace(r'\D', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_15192\2301450956.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['price']= df['price'].str.replace(r'\D', '').astype(int)

In [765]:
df.columns

Index(['lat', 'lon', 'address', 'style', 'building_type', 'cooling_type',
       'heating_type', 'fire_place', 'price', 'number_of_beds',
       'number_of_baths'],
      dtype='object')

In [766]:
# # Fix 'fire_place column to either Yes=1/No=0
# df.loc[df['fire_place'] == 'Yes', 'fire_place'] = 1

In [767]:
# Find different values for 'number_of_beds' column
df['number_of_beds'].unique()

array(['5+1 Beds', '3 Beds', '5 Beds', '4 Beds', '2+1 Beds', '2 Beds',
       '6 Beds', '4+1 Beds', '3+2 Beds', '4+2 Beds', '3+1 Beds',
       '2+2 Beds', '5+3 Beds', '5+2 Beds', '1+1 Beds', '1 Beds',
       '3+3 Beds', '4+3 Beds', '2+3 Beds'], dtype=object)

In [768]:
# Create 'extra_space' column if '+' is found in 'number_of_beds' column
ex_space = []
for i in range(len(df)):
    row = df['number_of_beds'].iloc[i]
    if '+' in row:
        ex_space.append(1)
    else:
        ex_space.append(0)

df['extra_space'] = ex_space

df.head(3)

,lat,lon,address,style,building_type,cooling_type,heating_type,fire_place,price,number_of_beds,number_of_baths,extra_space
0,43.856371,-79.337682,"6 HONEYBOURNE CRES, Markham, Ontario, L3P 1P3",Detached,House,Central air conditioning,Forced air,Yes,2998000,5+1 Beds,8 Baths,1
1,43.670890,-79.316931,"83 BOARDWALK DR, Toronto, Ontario, M4L 3X9",Detached,House,Central air conditioning,Forced air,Yes,2599900,3 Beds,4 Baths,0
2,43.447436,-79.666672,"2158 PINEVIEW DR, Oakville, Ontario, L6H 5M3",Detached,House,Central air conditioning,Forced air,Yes,1999000,5 Beds,4 Baths,0

In [769]:
# Splt up 'address' column
df[['street', 'city', 'province','postal_code']] = df.address.str.split(',', expand=True)

# Drop 'address column
df = df.drop(columns=['address'])

# Rearrange dataframe
df = df.reindex(columns=['street', 'city', 'province', 'postal_code','fire_place','style','lat','lon', 'price', 'number_of_beds', 'number_of_baths','extra_space'])

df.head(3)

,street,city,province,postal_code,fire_place,style,lat,lon,price,number_of_beds,number_of_baths,extra_space
0,6 HONEYBOURNE CRES,Markham,Ontario,L3P 1P3,Yes,Detached,43.856371,-79.337682,2998000,5+1 Beds,8 Baths,1
1,83 BOARDWALK DR,Toronto,Ontario,M4L 3X9,Yes,Detached,43.670890,-79.316931,2599900,3 Beds,4 Baths,0
2,2158 PINEVIEW DR,Oakville,Ontario,L6H 5M3,Yes,Detached,43.447436,-79.666672,1999000,5 Beds,4 Baths,0

In [770]:
df['city'] = df['city'].str.strip()
df['province'] = df['province'].str.strip()
df['postal_code'] = df['postal_code'].str.strip()

In [771]:
# Strip and turn 'number_of_beds' column to an integer
df['number_of_beds'] = df['number_of_beds'].str.replace(r'[+][1234]\s(Beds)|\s(Beds)', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_15192\3325562270.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['number_of_beds'] = df['number_of_beds'].str.replace(r'[+][1234]\s(Beds)|\s(Beds)', '').astype(int)

In [772]:
# Remove Bath(s) from column
df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_15192\1945002919.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '').astype(int)

In [773]:
# Final cleaned dataframe
df.head(3)

,street,city,province,postal_code,fire_place,style,lat,lon,price,number_of_beds,number_of_baths,extra_space
0,6 HONEYBOURNE CRES,Markham,Ontario,L3P 1P3,Yes,Detached,43.856371,-79.337682,2998000,5,8,1
1,83 BOARDWALK DR,Toronto,Ontario,M4L 3X9,Yes,Detached,43.670890,-79.316931,2599900,3,4,0
2,2158 PINEVIEW DR,Oakville,Ontario,L6H 5M3,Yes,Detached,43.447436,-79.666672,1999000,5,4,0

In [774]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 850
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   street           714 non-null    object
 1   city             714 non-null    object
 2   province         714 non-null    object
 3   postal_code      710 non-null    object
 4   fire_place       714 non-null    object
 5   style            714 non-null    object
 6   lat              714 non-null    float64
 7   lon              714 non-null    float64
 8   price            714 non-null    int32
 9   number_of_beds   714 non-null    int32
 10  number_of_baths  714 non-null    int32
 11  extra_space      714 non-null    int64
dtypes: float64(2), int32(3), int64(1), object(6)
memory usage: 64.1+ KB

In [775]:
# Export to csv file
df.to_csv('predicting_house_price.csv')