In [803]:
import pandas as pd

In [804]:
df = pd.read_csv('./Resources/housing.csv')
df.head()

,address,price,number_of_beds,number_of_baths,style
0,"92 DAY AVE, Toronto, Ontario, M6E 3V9","$1,189,000",3+1 Beds,2 Baths,Detached
1,"#403 -20 TUBMAN AVE, Toronto, Ontario, M5A 0M5","$1,145,000",3 Beds,2 Baths,Apartment
2,"#1912 -1 MARKET ST, Toronto, Ontario, M5E 0A2","$1,100,000",2 Beds,2 Baths,Apartment
3,"61 BARRYMORE RD, Toronto, Ontario, M1J 1W4","$998,888",3+1 Beds,2 Baths,Detached
4,"#1203 -5 KENNETH AVE, Toronto, Ontario, M2N 6M7","$899,000",2+1 Beds,2 Baths,Apartment

In [805]:
df.shape

(373, 5)

In [806]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          373 non-null    object
 1   price            373 non-null    object
 2   number_of_beds   373 non-null    object
 3   number_of_baths  373 non-null    object
 4   style            373 non-null    object
dtypes: object(5)
memory usage: 14.7+ KB

In [807]:
# Format price column and change data type
df['price']= df['price'].str.replace(r'\D', '').astype(int)
df.head()

C:\Users\User\AppData\Local\Temp\ipykernel_27012\1397200533.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['price']= df['price'].str.replace(r'\D', '').astype(int)

,address,price,number_of_beds,number_of_baths,style
0,"92 DAY AVE, Toronto, Ontario, M6E 3V9",1189000,3+1 Beds,2 Baths,Detached
1,"#403 -20 TUBMAN AVE, Toronto, Ontario, M5A 0M5",1145000,3 Beds,2 Baths,Apartment
2,"#1912 -1 MARKET ST, Toronto, Ontario, M5E 0A2",1100000,2 Beds,2 Baths,Apartment
3,"61 BARRYMORE RD, Toronto, Ontario, M1J 1W4",998888,3+1 Beds,2 Baths,Detached
4,"#1203 -5 KENNETH AVE, Toronto, Ontario, M2N 6M7",899000,2+1 Beds,2 Baths,Apartment

In [812]:
# Create 'den' column if '+1' is found in 'number_of_beds' column
den = []
for i in range(len(df['number_of_beds'])):
    row = df['number_of_beds'][i]
    if '+1' in row:
        den.append(1)
    else:
        den.append(0)

df['den'] = den


df

,address,price,number_of_beds,number_of_baths,style,den
0,"92 DAY AVE, Toronto, Ontario, M6E 3V9",1189000,3+1 Beds,2,Detached,1
1,"#403 -20 TUBMAN AVE, Toronto, Ontario, M5A 0M5",1145000,3 Beds,2,Apartment,0
2,"#1912 -1 MARKET ST, Toronto, Ontario, M5E 0A2",1100000,2 Beds,2,Apartment,0
3,"61 BARRYMORE RD, Toronto, Ontario, M1J 1W4",998888,3+1 Beds,2,Detached,1
4,"#1203 -5 KENNETH AVE, Toronto, Ontario, M2N 6M7",899000,2+1 Beds,2,Apartment,1
...,...,...,...,...,...,...
368,"#506 -49 SILVERSTONE DR, Toronto, Ontario, M9V...",775000,3 Beds,2,Apartment,0
369,"#215 -80 HARRISON GARDEN BLVD, Toronto, Ontari...",699999,1+1 Beds,2,Apartment,1
370,"#305 -30 CANTERBURY PL, Toronto, Ontario, M2N 0B9",688888,2 Beds,2,Apartment,0
371,"#1010 -30 GIBBS RD, Toronto, Ontario, M9B 0E4",649800,2 Beds,2,Apartment,0
372,"#1401 -716 THE WEST MALL, Toronto, Ontario, M9...",579900,2+1 Beds,2,Apartment,1

In [809]:
# Need to convert beds to inter

In [810]:
# Remove Bath(s) from column
df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '').astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_27012\1945002919.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['number_of_baths'] = df['number_of_baths'].str.replace(r'\D', '').astype(int)

In [811]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          373 non-null    object
 1   price            373 non-null    int32
 2   number_of_beds   373 non-null    object
 3   number_of_baths  373 non-null    int32
 4   style            373 non-null    object
 5   den              373 non-null    int64
dtypes: int32(2), int64(1), object(3)
memory usage: 14.7+ KB