In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
# YOUR CODE HERE!
df = pd.read_csv("../Web Scraping/predicting_house_price.csv")
df = df.drop("Unnamed: 0", axis =1)
# Review the DataFrame
# YOUR CODE HERE!
df.head()

,street,city,province,postal_code,fire_place,style,lat,lon,price,number_of_beds,number_of_baths,extra_space
0,6 HONEYBOURNE CRES,Markham,Ontario,L3P 1P3,1,Detached,43.856371,-79.337682,2998000,5,8,1
1,83 BOARDWALK DR,Toronto,Ontario,M4L 3X9,1,Detached,43.670890,-79.316931,2599900,3,4,0
2,2158 PINEVIEW DR,Oakville,Ontario,L6H 5M3,1,Detached,43.447436,-79.666672,1999000,5,4,0
3,4078 HWY #6 Highway S,Mount Hope,Ontario,L0R 1W0,1,Detached,43.156141,-79.916180,1425000,3,3,0
4,12 HERCULES CLUB DR,Richmond Hill,Ontario,L4K 1K6,1,Townhouse,43.880117,-79.439292,1199000,3,3,0

### Step 2: Encode the categorical variables.

In [3]:
df_encoded = pd.get_dummies(df, columns=['city', 'style'])
df_encoded.head()

,street,province,postal_code,fire_place,lat,lon,price,number_of_beds,number_of_baths,extra_space,...,city_Waterdown,city_Waterloo,city_Welland,city_Whitby,city_Whitchurch-Stouffville,city_Windsor,city_Woodstock,style_Detached,style_Semi-Detached,style_Townhouse
0,6 HONEYBOURNE CRES,Ontario,L3P 1P3,1,43.856371,-79.337682,2998000,5,8,1,...,0,0,0,0,0,0,0,1,0,0
1,83 BOARDWALK DR,Ontario,M4L 3X9,1,43.670890,-79.316931,2599900,3,4,0,...,0,0,0,0,0,0,0,1,0,0
2,2158 PINEVIEW DR,Ontario,L6H 5M3,1,43.447436,-79.666672,1999000,5,4,0,...,0,0,0,0,0,0,0,1,0,0
3,4078 HWY #6 Highway S,Ontario,L0R 1W0,1,43.156141,-79.916180,1425000,3,3,0,...,0,0,0,0,0,0,0,1,0,0
4,12 HERCULES CLUB DR,Ontario,L4K 1K6,1,43.880117,-79.439292,1199000,3,3,0,...,0,0,0,0,0,0,0,0,0,1

### Step 3: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [4]:
# Separate the data into labels and features
data_x = df_encoded.drop(['street', 'province','postal_code', 'price', 'lat', 'lon'], axis =1)
# Separate the y variable, the labels
y = df["price"]
# Separate the X variable, the features
X = data_x

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [5]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)

### Step 5: Scale the data.

In [6]:
scaler = preprocessing.StandardScaler()
data_x = scaler.fit_transform(X_train)

In [7]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [8]:
y_pred = lr.predict(X_test)
print('R-squared score:', lr.score(X_test, y_test))

R-squared score: -5.372229654411208e+21